<div class="table-wrapper">
<table>
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th>Flight</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Payment Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.user.name }}</td>
        <td>{{ payment.user.email }}</td>
        <td>{{ payment.flight.flightNumber }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.status }}</td>
        <td>{{ payment.paymentDate | date }}</td>
      </tr>
    </tbody>
  </table>
  </div>